openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex-net.ru
tags:
- name: Список ближайших станций
  description: Список ближайших станций
- name: Расписание рейсов между станциями
  description: Расписание рейсов между станциями
- name: Расписание рейсов по станции
  description: Расписание рейсов по станции
- name: Список станций следования
  description: Список станций следования
- name: Ближайший город
  description: Ближайший город
- name: Информация о перевозчике
  description: Информация о перевозчике
- name: Список всех доступных станций
  description: Список всех доступных станций
- name: Копирайт Яндекс Расписаний
  description: Копирайт Яндекс Расписаний
  
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - Список ближайших станций
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: station_types
        in: query
        description: типы станций
        required: false
        schema:
          type: string
      - name: transport_types
        in: query
        description: типы транспорта
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: сдвиг относительно первого рейса в ответе
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: ограничение на количество рейсов в ответе
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/search/:
    get:
      tags:
      - Расписание рейсов между станциями
      summary: Расписание рейсов между станциями
      operationId: getScheduleBetweenStations
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: true
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: дата (формат YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: типы транспорта
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: смещение относительно первого результата поиска
        required: false
        schema:
          type: integer
      - name: limit
        in: query
        description: максимальное количество результатов поиска в ответе
        required: false
        schema:
          type: integer
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: transfers
        in: query
        description: признак пересадок
        required: false
        schema:
          type: boolean
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segments'

  /v3.0/schedule/:
    get:
      tags:
      - Расписание рейсов по станции
      summary: Расписание рейсов по станции
      operationId: getScheduleOnStation
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: station
        in: query
        description: код станции
        required: true
        schema:
          type: string
      - name: date
        in: query
        description: дата (формат YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
      - name: transport_types
        in: query
        description: типы транспорта
        required: false
        schema:
          type: string
      - name: event
        in: query
        description: событие (прибытие или отправление)
        required: false
        schema:
          type: string
      - name: direction
        in: query
        description: код направления
        required: false
        schema:
          type: string
      - name: system
        in: query
        description: система кодирования
        required: false
        schema:
          type: string
      - name: result_timezone
        in: query
        description: часовой пояс
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'

  /v3.0/thread/:
    get:
      tags:
      - Список станций следования
      summary: Список станций следования
      operationId: getThread
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: уникальный идентификатор маршрута
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: код станции отправления
        required: false
        schema:
          type: string
      - name: to
        in: query
        description: код станции прибытия
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: дата (формат YYYY-MM-DD)
        required: false
        schema:
          type: string
          format: date
      - name: show_systems
        in: query
        description: системы кодирования для отображения
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStationsResponse'

  /v3.0/nearest_settlement/:
    get:
      tags:
      - Ближайший город
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: false
        schema:
          type: integer
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlementResponse'

  /v3.0/carrier/:
    get:
      tags:
      - Информация о перевозчике
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: code
        in: query
        description: код перевозчика
        required: true
        schema:
          type: string
      - name: system
        in: query
        description: текущая система кодирования
        required: false
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'

  /v3.0/stations_list/:
    get:
      tags:
      - Список всех доступных станций
      summary: Список всех доступных станций
      operationId: getStationsList
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа 
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/AllStationsResponse'

  /v3.0/copyright/:
    get:
      tags:
      - Копирайт Яндекс Расписаний
      summary: Копирайт Яндекс Расписаний
      operationId: getCopyrights
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: format
        in: query
        description: формат ответа json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: язык
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightsResponse'

components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    
    Segments:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        segments:
          type: array
          items:
            $ref: '#/components/schemas/Segment'
        interval_segments:
          type: array
          description: Список интервальных рейсов
          items:
            type: object
            properties:
              from:
                $ref: '#/components/schemas/Station'
              to:
                $ref: '#/components/schemas/Station'
              thread:
                $ref: '#/components/schemas/Thread'
              interval:
                type: object
                properties:
                  density:
                    type: string
                    description: Периодичность рейсов
                  begin_time:
                    type: string
                    description: Время начала движения
                  end_time:
                    type: string
                    description: Время окончания движения
              duration:
                type: integer
                description: Длительность рейса в секундах
              has_transfers:
                type: boolean
                description: Признак наличия пересадок
              tickets_info:
                $ref: '#/components/schemas/TicketsInfo'
    
    Segment:
      type: object
      properties:
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        departure:
          type: string
          description: Время отправления
        arrival:
          type: string
          description: Время прибытия
        thread:
          $ref: '#/components/schemas/Thread'
        tickets_info:
          $ref: '#/components/schemas/TicketsInfo'
        duration:
          type: integer
          description: Длительность рейса в секундах
    
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    
    Station:
      type: object
      properties:
        type:
          type: string
          description: Тип пункта
        title:
          type: string
          description: Полное название станции
        short_title:
          type: string
          description: Краткое название станции
        popular_title:
          type: string
          description: Общепринятое название станции
        code:
          type: string
          description: Код станции
        lat:
          type: number
          description: Широта станции
        lng:
          type: number
          description: Долгота станции
        station_type:
          type: string
          description: Тип станции
        station_type_name:
          type: string
          description: Название типа станции
        transport_type:
          type: string
          description: Тип транспорта
        distance:
          type: number
          description: Расстояние до станции
        majority:
          type: integer
          description: Уровень важности станции
        direction:
          type: string
          description: Направление движения
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код станции в системе Яндекс
            esr_code:
              type: string
              description: Код железнодорожной станции
        type_choices:
          $ref: '#/components/schemas/Schedule'
    
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
        except_days:
          type: string
          description: Дни, когда рейс не выполняется
        arrival:
          type: string
          description: Время прибытия
        departure:
          type: string
          description: Время отправления
        thread:
          $ref: '#/components/schemas/Thread'
        days:
          type: string
          description: Дни курсирования рейса
        stops:
          type: string
          description: Остановки на маршруте
        terminal:
          type: string
        platform:
          type: string
    
    Thread:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        number:
          type: string
        carrier:
          $ref: '#/components/schemas/Carrier'
        transport_type:
          type: string
        vehicle:
          type: string
        start_time:
          type: string
          format: time
        days:
          type: string
        interval:
          $ref: '#/components/schemas/Interval'
    
    Carrier:
      type: object
      properties:
        code:
          type: integer
          description: Код перевозчика
        contacts:
          type: string
          description: Контактная информация
        url:
          type: string
          description: Ссылка на сайт перевозчика
        title:
          type: string
          description: Название перевозчика
        phone:
          type: string
          description: Контактный телефон
        address:
          type: string
          description: Адрес перевозчика
        logo:
          type: string
          description: Ссылка на логотип
        email:
          type: string
          description: Электронная почта
        codes:
          type: object
          properties:
            icao:
              type: string
              description: Код ICAO
            sirena:
              type: string
              description: Код Sirena
            iata:
              type: string
              description: Код IATA
    
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          type: array
          items:
            $ref: '#/components/schemas/Place'
    
    Stop:
      type: object
      properties:
        arrival:
          type: string
        departure:
          type: string
        stop_time:
          type: integer
          description: Продолжительность остановки в секундах
        duration:
          type: integer
          description: Время в пути до остановки
        terminal:
          type: string
        platform:
          type: string
        station:
          $ref: '#/components/schemas/Station'
    
    Place:
      type: object
      properties:
        name:
          type: string
        price:
          $ref: '#/components/schemas/Price'
    
    Price:
      type: object
      properties:
        currency:
          type: string
        whole:
          type: integer
        cents:
          type: integer
    
    IntervalSchedule:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/Thread'
        interval:
          type: object
          properties:
            density:
              type: string
              description: Частота рейсов
            begin_time:
              type: string
              description: Время начала
            end_time:
              type: string
              description: Время окончания
    
    Directions:
      type: object
      properties:
        code:
          type: string
          description: Код направления
        title:
          type: string
          description: Название направления
    
    ScheduleResponse:
      type: object
      properties:
        date:
          type: string
          description: Дата расписания
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/Schedule'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalSchedule'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Directions'
        schedule_direction:
          $ref: '#/components/schemas/Directions'
    
    Interval:
      type: object
      properties:
        density:
          type: string
          description: Периодичность рейсов
        begin_time:
          type: string
          format: date-time
          description: Время начала рейсов
        end_time:
          type: string
          format: date-time
          description: Время окончания рейсов
    
    ThreadStationsResponse:
      type: object
      properties:
        title:
          type: string
          description: Название маршрута
        uid:
          type: string
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        transport_type:
          type: string
        vehicle:
          type: string
        days:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        interval:
          $ref: '#/components/schemas/Interval'
    
    NearestSettlementResponse:
      type: object
      properties:
        distance:
          type: number
          description: Расстояние до города (км)
        code:
          type: string
          description: Код города
        title:
          type: string
          description: Название города
        popular_title:
          type: string
          description: Общепринятое название
        short_title:
          type: string
          description: Краткое название
        lat:
          type: number
          description: Широта города
        lng:
          type: number
          description: Долгота города
        type:
          type: string
          description: Тип пункта
    
    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
    
    AllStationsResponse:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    
    Country:
      type: object
      properties:
        title:
          type: string
          description: Название страны
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код страны в Яндекс
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
    
    Region:
      type: object
      properties:
        title:
          type: string
          description: Название региона
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код региона в Яндекс
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
    
    Settlement:
      type: object
      properties:
        title:
          type: string
          description: Название населенного пункта
        codes:
          type: object
          properties:
            yandex_code:
              type: string
              description: Код населенного пункта
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    
    CopyrightsResponse:
      type: object
      additionalProperties: true
